html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
  background-color:#f5f6f9;
  margin-top:180px;
 
 
}
a {
    text-decoration: none;
}
/**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --main-color: #38b000;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-color: #0066c0;
}
h1,h2,h3,h4,h5,h6{
    color:var(--dark-color);
}
p{
    color:var(--parg-color)
}
header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:white;
    z-index:10;

}
.top-nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0px;

}
.container2{
    width:75%;
    margin:auto;
}

.logo {
    width:100px;
    margin:0px;
    padding:0px;
}
.search{
    width:500px;
    border:2px solid var(--main-color);
    border-radius:10px;
    position:relative;
    overflow:hidden;
}
.search input{
    padding:20px;
    outline:none;
    border:none;
    width:100%;
    height:1px;

}
.search button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        width: 170px;
        background-color: var(--main-color);
        height: 100%;
        color: var(--dark-color)
    }
.search button:hover{
    background-color:darkgreen;
}
/*cart_header*/
.cart_header{
    display:flex;
    justify-items:center;
    gap:10px;
}
    .cart_header i {
        color: var(--dark-color);
        font-size: 20px;
        border: 1px solid var(--border-color);
        background-color: var(--border-color);
        border-radius:20px;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        cursor:pointer;
        transition:0.5s;
    }
.cart_header i:hover{
    background-color:var(--main-color);
    color:white;
    }
.icon_cart{
    position:relative;
}
.count_item{
    position:absolute;
    background-color:var(--main-color);
    width:20px;
    height:20px;
    border-radius:50%;
    text-align:center;
    line-height:20px;
    font-size:13px;
    top:-5px;
    right:0px;
    color:var(--dark-color);


}
.total_price{
    margin-bottom:8px;
    
}
.total_price p{
    color:black;
}
/*nav*/
header nav{
    border-top:1px solid var(--border-color);
}
.links{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.links ul{
    display:flex;
    gap:70px;
}
.links ul li a{
    color:var(--dark-color);
    text-transform:uppercase;
    font-weight:500;
    font-size:15px;
    text-decoration:none;
}
.links ul li{
    position:relative;
    padding:20px 0;
}
.links ul li::after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:0;
    height:2px;
    background-color:var(--main-color);
    transition:0.3s ease-in-out;
}
.links ul li:hover::after {
        width: 100%;
}
.loging_signup a{
    color:var(--dark-color);
    text-decoration:none;
    padding:10px 20px;
    background-color:var(--main-color);
    margin-left:10px;
    border:5px solid var(--border-color);
    border-radius:10px;

}
    .loging_signup a:hover {
        background-color: darkgreen;
    }

/*end Header*/

/*Cart*/
.cart {
    position: fixed;
    background: #fff;
    top: 0;
    right: -400px;
    bottom: 0;
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    transition: 0.7s ease-in-out;

    
}
.cart.active{
    right:0;
    
}
.top_cart{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.top_cart span i{
    font-size:25px;
    padding:3px;
    cursor:pointer;
    color:var(--dark-color);
    border:1px dotted;
    border-radius:100px;
}
    .top_cart span i:hover {
        color: var(--parg-color);
    }
.top_cart h3 {
    color: var(--dark-color);
}
.top_cart h3 span{
    font-size:14px;
    color:var(--parg-color);
    font-weight:normal;
}

.items_in_cart{
    padding:20px 0 ;
    border-block:1px solid var(--border-color);
    margin-block:20px;
    height:100%;
}

.item_cart {
    display:flex;
    gap:20px;
    align-items:center;
    justify-content:center;
    margin-bottom:25px;
}
.item_cart img{
    width:100px;
}
.items_in_cart h1 {
   color: #adadad;
}
.total{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}
.price_cart_total{
    color:var(--main-color);
}
.button_cart{
    display:flex;
    flex-direction:column;
    gap:10px;
    
}

.btn_cart{
    border:2px solid var(--main-color);
    border-radius:5px;
    color:var(--dark-color);
    padding:15px 0;
    text-align:center;
    font-size:16px;
    text-transform:uppercase;
    cursor:pointer;
    background: var(--main-color);
    transition:0.5s ease;
}
.btn_cart:hover {
        background-color:darkgreen;
        color:snow;
}
.content{
    display:flex;
    justify-content:space-between;
    gap:30px;
}


.content h4{
    color:var(--dark-color);
    font-size:20px;
    
}

.delete{
    border:none;
}
.delete i{
    transition:0.3s;
}
.delete i:hover{
    color:var(--dark-red);
    transform:scale(1.1);
}



@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  
@media (max-width:1500px){
    .container2{
        width:90%;
    }

}
